/* 600/16 */
/* 800/16 */
::selection {
  color: #ffffff;
  background: #e5db40;
}
::-moz-selection {
  color: #ffffff;
  background: #e5db40;
}
.container {
  max-width: 66.875em;
  /* 1070/16 */
  margin: 0 auto;
  padding: 0 1em;
}
.row {
  margin-left: -1em;
  margin-right: -1em;
}
.row:before,
.row:after {
  content: " ";
  display: table;
  line-height: 0;
}
.row:after {
  clear: both;
}
figure {
  margin: 0;
}
figure img {
  max-width: 100%;
}
body {
  font: 400 100% 'freight-display-pro', 'Georgia', 'Times New Roman', serif;
  color: #3c3c3c;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font: 700 6em 'bistro-script-web', sans-serif;
  /* 96/16 */
  text-transform: lowercase;
  text-align: center;
  line-height: 1em;
  color: #ffffff;
}
@media (max-width: 37.5em) {
  h1 {
    font-size: 2.75em;
  }
}
h2 {
  font: 700 4em 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  /* 48/16 */
  line-height: 1.2em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  h2 {
    font-size: 2em;
  }
}
h3 {
  font: 3em 'bistro-script-web', sans-serif;
  /* 48/16 */
  text-transform: lowercase;
  line-height: 1em;
  margin-bottom: .5em;
}
@media (max-width: 37.5em) {
  h3 {
    font-size: 1.5em;
    border-bottom: 3px dotted #e5db40;
  }
}
p {
  font-size: 1.375em;
  /* 22/16 */
  line-height: 1.7em;
}
p a {
  position: relative;
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 700;
}
p a:before {
  content: '';
  position: absolute;
  display: block;
  background-color: rgba(229, 219, 64, 0.5);
  left: 0;
  right: 0;
  bottom: .1em;
  height: 0.363636363636em;
  /* 8/22 */
  z-index: -1;
  transition: height 300ms, background-color 300ms, bottom 300ms;
}
p a:hover:before {
  height: 0.181818181818em;
  /* 4/22 */
  background-color: #e5db40;
  bottom: 0;
}
@media (max-width: 37.5em) {
  p {
    font-size: 1.15em;
  }
}
address a {
  position: relative;
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 700;
}
address a:before {
  content: '';
  position: absolute;
  display: block;
  background-color: rgba(229, 219, 64, 0.5);
  left: 0;
  right: 0;
  bottom: .1em;
  height: 0.363636363636em;
  /* 8/22 */
  z-index: -1;
  transition: height 300ms, background-color 300ms, bottom 300ms;
}
address a:hover:before {
  height: 0.181818181818em;
  /* 4/22 */
  background-color: #e5db40;
  bottom: 0;
}
input[type='text'] {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  display: block;
  width: 100%;
  margin-bottom: .5em;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  color: #3c3c3c;
  font: 1.375em 'freight-display-pro', 'Georgia', 'Times New Roman', serif;
  /* 22/16 */
  padding: 0.318181818182em 0.454545454545em;
  /* 7/22 */
  /* 10/22 */
}
input[type='text']:focus {
  outline: 0;
  box-shadow: inset 0 0 0 2px #e5db40;
}
::-ms-clear {
  width: 0;
  height: 0;
}
::-ms-reveal {
  width: 0;
  height: 0;
}
label {
  display: block;
  margin-bottom: .5em;
  font: 700 1em 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  /* 14/16 */
  text-transform: uppercase;
}
button {
  -webkit-appearance: none;
  border: none;
  outline: 0;
  background: #e5db40;
  color: #ffffff;
  font: 30px 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 4em;
  /* 120/30 */
  letter-spacing: 2px;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: background-color 250ms, box-shadow 250ms;
}
button:hover {
  background-color: #ebe36d;
}
button:active {
  background-color: #d5ca1d;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
button:disabled {
  background-color: #e1e1e1;
  cursor: wait;
}
#hero {
  box-sizing: border-box;
  padding: 2em 0;
  height: 93vh;
  background: url('/images/hero-bg.jpg') #e5db40 center top no-repeat;
  background-size: cover;
}
@media (max-width: 37.5em) {
  #hero {
    height: auto;
  }
}
header {
  box-sizing: border-box;
  height: 7vh;
  background: #e5db40;
  transition: height 300ms, box-shadow 300ms;
}
@media (max-width: 37.5em) {
  header {
    display: none;
  }
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -1em;
  margin-right: -1em;
}
header nav ul:before,
header nav ul:after {
  content: " ";
  display: table;
  line-height: 0;
}
header nav ul:after {
  clear: both;
}
header nav ul li {
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font: 2em 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 7vh;
  transition: line-height 300ms;
}
@media (min-width: 37.5em) {
  header nav ul li {
    float: left;
    width: 20%;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
header.stuck {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 -3px 8px 2px #666666;
  z-index: 99999;
}
#details .hashtag {
  font-family: 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #e5db40;
}
#details #leo-carrillo {
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
@media (min-width: 37.5em) {
  #details #leo-carrillo {
    float: left;
    width: 50%;
  }
}
@media (max-width: 37.5em) {
  #details #leo-carrillo figure {
    margin-bottom: 2em;
  }
}
#details #venue-description {
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
@media (min-width: 37.5em) {
  #details #venue-description {
    float: left;
    width: 50%;
  }
}
#details #venue-description p {
  margin-top: 0;
}
#travel h4 {
  font: 700 20px 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0 auto .5em;
}
@media (min-width: 37.5em) {
  #travel h4 {
    font-size: 2.25em;
    /* 36/16 */
  }
}
#hotels {
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 3em;
}
#hotels:before,
#hotels:after {
  content: " ";
  display: table;
  line-height: 0;
}
#hotels:after {
  clear: both;
}
#hotels figure {
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
@media (min-width: 37.5em) {
  #hotels figure {
    float: left;
    width: 33.33333333%;
  }
}
@media (max-width: 37.5em) {
  #hotels figure {
    margin-bottom: 2em;
  }
}
#hotels figure img {
  display: block;
}
#hotels figcaption h5,
#hotels figcaption p {
  text-align: center;
  margin: 0;
}
#hotels figcaption h5 {
  font-size: 1.25em;
  /* 20/16 */
}
#hotels figcaption p {
  font-size: 0.875em;
  /* 14/16 */
}
#bus {
  margin-left: -1em;
  margin-right: -1em;
}
#bus:before,
#bus:after {
  content: " ";
  display: table;
  line-height: 0;
}
#bus:after {
  clear: both;
}
#bus #bus-pitch {
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
@media (min-width: 37.5em) {
  #bus #bus-pitch {
    float: left;
    width: 66.66666667%;
  }
}
@media (max-width: 37.5em) {
  #bus #bus-pitch {
    margin-bottom: 2em;
  }
}
#bus #bus-pitch p {
  margin: 0;
}
form#bus-signup {
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
@media (min-width: 37.5em) {
  form#bus-signup {
    float: left;
    width: 33.33333333%;
  }
}
form#bus-signup p {
  margin: 0;
  font-size: 0.875em;
  /* 14/16 */
  color: green;
}
form#bus-signup .error {
  color: red;
}
#wedding-party h3 {
  background: #949494;
  color: #ffffff;
  border: none;
  margin-bottom: 0;
  padding: 15px 1em;
}
#wedding-party h3 span {
  font: 700 16px 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 37.5em) {
  #wedding-party h3 span {
    font-size: 24px;
  }
  #wedding-party h3 span.mobile {
    display: none;
  }
}
@media (max-width: 37.5em) {
  #wedding-party h3 span.desktop {
    display: none;
  }
}
#bio {
  padding: 2em;
  transition: height 500ms, padding 500ms;
  background: #e5db40;
}
#bio h4,
#bio h5,
#bio p {
  position: relative;
  margin: 0;
  padding: 0;
}
#bio h4 {
  font: 48px 'bistro-script-web', sans-serif;
  color: #ffffff;
  line-height: 1em;
  margin-bottom: -3px;
  z-index: 100;
}
#bio h5 {
  font: 700 18px 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 1em;
  text-indent: 1em;
  z-index: 99;
}
#bio p {
  padding: 0 18px;
}
#bio.closed {
  padding-top: 0;
  padding-bottom: 0;
}
#bridesmaids,
#groomsmen {
  margin-left: 0;
  margin-right: 0;
}
#bridesmaids:before,
#groomsmen:before,
#bridesmaids:after,
#groomsmen:after {
  content: " ";
  display: table;
  line-height: 0;
}
#bridesmaids:after,
#groomsmen:after {
  clear: both;
}
#bridesmaids .bridesmaid,
#groomsmen .bridesmaid,
#bridesmaids .groomsman,
#groomsmen .groomsman {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  cursor: pointer;
}
@media (min-width: 37.5em) {
  #bridesmaids .bridesmaid,
  #groomsmen .bridesmaid,
  #bridesmaids .groomsman,
  #groomsmen .groomsman {
    float: left;
    width: 16.66666667%;
  }
}
#bridesmaids .bridesmaid figure,
#groomsmen .bridesmaid figure,
#bridesmaids .groomsman figure,
#groomsmen .groomsman figure {
  position: relative;
}
#bridesmaids .bridesmaid figure:before,
#groomsmen .bridesmaid figure:before,
#bridesmaids .groomsman figure:before,
#groomsmen .groomsman figure:before {
  content: '';
  position: absolute;
  display: block;
  border: 15px solid transparent;
  left: 50%;
  margin-left: -15px;
  transition: opacity 300ms;
  opacity: 0;
  z-index: 9999;
}
#bridesmaids .bridesmaid div,
#groomsmen .bridesmaid div,
#bridesmaids .groomsman div,
#groomsmen .groomsman div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 300ms;
  z-index: 999;
}
@media (min-width: 37.5em) {
  #bridesmaids .bridesmaid div,
  #groomsmen .bridesmaid div,
  #bridesmaids .groomsman div,
  #groomsmen .groomsman div {
    top: 70%;
  }
}
#bridesmaids .bridesmaid div h4,
#groomsmen .bridesmaid div h4,
#bridesmaids .groomsman div h4,
#groomsmen .groomsman div h4,
#bridesmaids .bridesmaid div h5,
#groomsmen .bridesmaid div h5,
#bridesmaids .groomsman div h5,
#groomsmen .groomsman div h5,
#bridesmaids .bridesmaid div p,
#groomsmen .bridesmaid div p,
#bridesmaids .groomsman div p,
#groomsmen .groomsman div p {
  margin: 0;
  color: #ffffff;
}
#bridesmaids .bridesmaid div h4,
#groomsmen .bridesmaid div h4,
#bridesmaids .groomsman div h4,
#groomsmen .groomsman div h4 {
  font: 18px 'bistro-script-web', sans-serif;
  margin-bottom: -3px;
}
@media (max-width: 37.5em) {
  #bridesmaids .bridesmaid div h4,
  #groomsmen .bridesmaid div h4,
  #bridesmaids .groomsman div h4,
  #groomsmen .groomsman div h4 {
    font-size: 24px;
  }
}
#bridesmaids .bridesmaid div h5,
#groomsmen .bridesmaid div h5,
#bridesmaids .groomsman div h5,
#groomsmen .groomsman div h5 {
  font: 700 14px 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1em;
}
@media (max-width: 37.5em) {
  #bridesmaids .bridesmaid div h5,
  #groomsmen .bridesmaid div h5,
  #bridesmaids .groomsman div h5,
  #groomsmen .groomsman div h5 {
    margin-bottom: .5em;
  }
}
#bridesmaids .bridesmaid div p,
#groomsmen .bridesmaid div p,
#bridesmaids .groomsman div p,
#groomsmen .groomsman div p {
  font-size: 0.75em;
  /* 12/16 */
  line-height: 1.4;
}
@media (min-width: 37.5em) {
  #bridesmaids .bridesmaid div p,
  #groomsmen .bridesmaid div p,
  #bridesmaids .groomsman div p,
  #groomsmen .groomsman div p {
    display: none;
  }
}
@media (min-width: 37.5em) {
  #bridesmaids .bridesmaid:hover div,
  #groomsmen .bridesmaid:hover div,
  #bridesmaids .groomsman:hover div,
  #groomsmen .groomsman:hover div {
    opacity: 1;
  }
  #bridesmaids .bridesmaid.selected figure:before,
  #groomsmen .bridesmaid.selected figure:before,
  #bridesmaids .groomsman.selected figure:before,
  #groomsmen .groomsman.selected figure:before {
    opacity: 1;
  }
}
@media (max-width: 37.5em) {
  #bridesmaids .bridesmaid.selected div,
  #groomsmen .bridesmaid.selected div,
  #bridesmaids .groomsman.selected div,
  #groomsmen .groomsman.selected div {
    opacity: 1;
  }
}
#bridesmaids .bridesmaid.selected figure:before,
#groomsmen .bridesmaid.selected figure:before {
  bottom: -1px;
  border-bottom-color: #e5db40;
}
#bridesmaids .groomsman.selected figure:before,
#groomsmen .groomsman.selected figure:before {
  top: 0;
  border-top-color: #e5db40;
}
#big-ass-hashtag {
  margin: 0;
  line-height: 1em;
  font: 700 2.25em 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  /* 36/16 */
  text-transform: uppercase;
}
#big-ass-hashtag a {
  color: #e5db40;
}
@media (min-width: 37.5em) {
  #big-ass-hashtag a {
    cursor: default;
  }
}
#big-ass-hashtag a:before {
  display: none;
}
@media (min-width: 37.5em) {
  #big-ass-hashtag {
    font-size: 6em;
    /* 96/16 */
    text-align: center;
  }
}
footer {
  padding: 4em 0 2em;
}
footer figure {
  text-align: center;
}
footer figure img {
  max-width: 240px;
  border-radius: 50%;
}
footer p {
  font: 700 0.75em 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
  /* 12/16 */
  text-transform: uppercase;
  text-align: center;
}
