::selection {
  color: #ffffff;
  background: #ffe24c;
}
::-moz-selection {
  color: #ffffff;
  background: #ffe24c;
}
.container {
  max-width: 66.875em;
  /* 1070/16 */
  margin: 0 auto;
  padding: 0 1em;
}
.row {
  margin-left: -1em;
  margin-right: -1em;
}
.row:before,
.row:after {
  content: " ";
  display: table;
  line-height: 0;
}
.row:after {
  clear: both;
}
body {
  font: 400 100% 'freight-display-pro', 'Georgia', 'Times New Roman', serif;
  color: #3c3c3c;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font: 700 3.75em 'bistro-script-web', Helvetica, Arial, sans-serif;
  /* 60/16 */
  text-transform: lowercase;
  text-align: center;
  line-height: 1em;
  color: #ffffff;
}
h2 {
  font: 1.75em 'freight-display-pro', 'Georgia', 'Times New Roman', serif;
  /* 28/16 */
  line-height: 1.2em;
  color: #ffffff;
}
p {
  font-size: 1.375em;
  /* 22/16 */
  line-height: 1.7em;
}
input[type='text'],
input[type='tel'],
input[type='password'],
input[type='email'],
input[type='number'],
select {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  border: #e1e1e1;
  background: #ffffff;
  color: #3c3c3c;
  font: 1.375em 'freight-display-pro', 'Georgia', 'Times New Roman', serif;
  /* 22/16 */
  margin-bottom: 5px;
}
input[type='text']:focus,
input[type='tel']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
select:focus {
  outline: 0;
  box-shadow: inset 0 0 0 2px #ffe24c;
}
input[type='text'].error,
input[type='tel'].error,
input[type='password'].error,
input[type='email'].error,
input[type='number'].error,
select.error {
  box-shadow: inset 3px 0 0 0 #ff0000;
}
::-ms-clear {
  width: 0;
  height: 0;
}
::-ms-reveal {
  width: 0;
  height: 0;
}
label {
  font: 700 0.875em 'freight-display-pro', 'Georgia', 'Times New Roman', serif;
  /* 14/16 */
}
select {
  -moz-appearance: none;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
button {
  -webkit-appearance: none;
  border: none;
  background: blue;
  color: white;
}
#hero {
  box-sizing: border-box;
  padding: 2em 0;
  height: 90vh;
  background: url('/images/hero-bg.jpg') #ffe24c center top no-repeat;
  background-size: cover;
}
header {
  box-sizing: border-box;
  height: 10vh;
  background: #ffe24c;
  transition: height 300ms, box-shadow 300ms;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -1em;
  margin-right: -1em;
}
header nav ul:before,
header nav ul:after {
  content: " ";
  display: table;
  line-height: 0;
}
header nav ul:after {
  clear: both;
}
header nav ul li {
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 600px) {
  header nav ul li {
    float: left;
    width: 20%;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font: 2em 'bistro-script-web', Helvetica, Arial, sans-serif;
  line-height: 10vh;
  transition: line-height 300ms;
}
header.stuck {
  position: fixed;
  width: 100%;
  height: 7vh;
  top: 0;
  left: 0;
  box-shadow: 0 -3px 8px 2px #666666;
}
header.stuck a {
  line-height: 7vh;
}
#details .map {
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  height: 300px;
}
@media (min-width: 600px) {
  #details .map {
    float: left;
    width: 50%;
  }
}
#details address {
  min-height: 1px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  #details address {
    float: left;
    width: 33.33333333%;
  }
}
