<html>
<head>
	<title>Katie Wooley and Joe Furfaro | 11.7.2015</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" href="/style.css">
	<script src="//use.typekit.net/qtt7dqn.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

	<section id="hero">
		<h1>We're getting married!</h1>
		<h2>Welcome to {{bride}} and {{groom}}'s wedding</h2>
	</section>
	
	<header>
		<nav class="container">
			<ul>
				<li>Nav 1</li>
				<li>Nav 2</li>
				<li>Nav 3</li>
				<li>Nav 4</li>
			</ul>
		</nav>
	</header>

	<script src="/script.js"></script>
</body>
</html>

