<html>
<head>
	<title>Katie Wooley and Joe Furfaro | 11.7.2015</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" href="/style.css">
	<script src="//use.typekit.net/qtt7dqn.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

	<section id="hero">
		<h1>We're getting married!</h1>
		<h2>Welcome to Katie and Joe's wedding</h2>
	</section>
	
	<header>
		<nav class="container">
			<ul>
				<li><a href="#details">Festivities &amp; Details</a></li>
				<li><a href="#travel">Travel</a></li>
				<li><a href="#wedding-party">Wedding Party</a></li>
				<li><a href="#registry">Registry</a></li>
				<li><a href="#add-story">Add to Our Story</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<section id="details">
			<div class="container">
				<h3>Festivities &amp; Details</h3>
				<p>
					Here's a section full of details. Our wedding will be rad and feature fun games and alcohol. Don't forget about great food and funky music!
				</p>
				<address>
					Leo Carillo
					123 Flying Carillo Way
					Carlsbad, CA 92113
				</address>
			</div>
		</section>

		<section id="travel">
			<div class="container">
				<h3>Accomodations</h3>
				<p>
					Where should you stay? How about one of these three locations:
				</p>

				<div id="hotels">
					<div>
						<div class="map"></div>
						<h4>Carlsbad Beach Location</h4>
					</div>
					<div>
						<div class="map"></div>
						<h4>Carlsbad Venue Location</h4>
					</div>
					<div>
						<div class="map"></div>
						<h4>Horton Grand Hotel</h4>
					</div>
				</div>
			</div>
		</section>

		<section id="wedding-party">
			<div class="container">
				<h3>Meet the Wedding Party</h3>

				<ul class="row">
					<li>
						<h4>Ashley</h4>
					</li>
					<li>
						<h4>Tierney</h4>
					</li>
					<li>
						<h4>Courtney</h4>
					</li>
					<li>
						<h4>Courtney</h4>
					</li>
					<li>
						<h4>Melissa</h4>
					</li>
					<li>
						<h4>Kaitlin</h4>
					</li>
					<li>
						<h4>Russell</h4>
					</li>
					<li>
						<h4>Ryan</h4>
					</li>
					<li>
						<h4>Chris</h4>
					</li>
					<li>
						<h4>Miguel</h4>
					</li>
					<li>
						<h4>Corey</h4>
					</li>
				</ul>
			</div>
		</section>

		<section id="registry">
			<div class="container">
				<h3>Registry</h3>
				<p>
					Instead of having a million different sites and stores, we've compiled one registry list to rule them all.
				</p>
			</div>
		</section>

		<section id="add-story">
			<div class="container">
				<h3>Add to Our Story</h3>
				<p>
					While we politely ask that you refrain from cell phone use and taking photos during the actual ceremony (trust us, our photographer is really great and you'll all be able to download photos!), we'd LOVE for you to take photos and share them using the <span class="hashtag">#katieandjoegethitched</span> hashtag across all social media!
				</p>
			</div>
		</section>
	</main>

	<footer>
		<div class="container">
			Copyright &copy;2015 Katie &amp; Joe
		</div>
	</footer>
	<script src="/script.js"></script>
</body>
</html>

