// --------------------------------------------------
// VARIABLES
@headline: 'franklin-gothic-ext-comp-urw', Helvetica, Arial, sans-serif;
@script: 'bistro-script-web', sans-serif;
@body: 'freight-display-pro', 'Georgia', 'Times New Roman', serif;

@gray: #e1e1e1;
@gold: #ffe24c;
@black: #000;
@white: #fff;
@text-color: #3c3c3c;
@error: #f00;

@mobile: 600px;
@tablet: 800px;

// END VARIABLES
// --------------------------------------------------


// --------------------------------------------------
// GRID

.make-row(@padding: 1em) {
	margin-left: -@padding;
	margin-right: -@padding;
	.clearfix();
}
.make-column(@columns, @total-columns: 12, @breakpoint: @mobile, @padding: 1em) {
	@media (min-width: @breakpoint) {
		float: left;
		width: percentage(@columns / @total-columns);
	}

	min-height: 1px;
	padding-left: @padding;
	padding-right: @padding;
	box-sizing: border-box;
}
.make-column-offset(@columns, @total-columns: 12, @breakpoint: @mobile, @padding: 1em) {
	@media (min-width: @breakpoint) {
		margin-left: percentage(@columns / @total-columns);
	}
}

.clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}


// END GRID
// --------------------------------------------------


// --------------------------------------------------
// BASICS

// Getting fancy - Can't be combined because they get cancelled
::selection {
	color: @white;
	background: @gold;
}
::-moz-selection {
	color: @white;
	background: @gold;
}

.container {
	max-width: 66.875em;  /* 1070/16 */
	margin: 0 auto;
	padding: 0 1em;
}

.row {
	.make-row();
}

.img-wrap {
	img {
		max-width: 100%;
	}
}

// END BASICS
// --------------------------------------------------


// --------------------------------------------------
// PAGE TYPOGRAPHY

body {
	// Set a base font
	font: 400 100% @body;
	color: @text-color;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font: 700 6em @script; /* 96/16 */
	text-transform: lowercase;
	text-align: center;
	line-height: 1em;
	color: @white;
}

h2 {
	font: 700 4em @headline; /* 48/16 */
	line-height: 1.2em;
	color: @white;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	font: 3em @script; /* 48/16 */
	text-transform: lowercase;
}

p {
	font-size: 1.375em; /* 22/16 */
	line-height: 1.7em;
}

// END PAGE TYPOGRAPHY
// --------------------------------------------------

// --------------------------------------------------
// FORM STYLES

input[type='text'],
input[type='tel'],
input[type='password'],
input[type='email'],
input[type='number'],
select {
	-webkit-appearance: none;
	border-radius: 0;
	box-sizing: border-box;	
	box-shadow: none;
	border: @gray;
	background: @white;
	color: @text-color;
	font: 1.375em @body;  /* 22/16 */
	margin-bottom: 5px;

	&:focus {
		outline: 0;
		box-shadow: inset 0 0 0 2px @gold;
	}

	&.error {
		box-shadow: inset 3px 0 0 0 @error;
	}
}

// Hide IE10+ Form Controls
::-ms-clear { 
	width : 0; 
	height: 0; 
} 

::-ms-reveal { 
	width : 0; 
	height: 0; 
}

label {
	font: 700 0.875em @body; /* 14/16 */
}

select {
	-moz-appearance: none;
	cursor: pointer;

	&::-ms-expand {
	    display: none;
	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		
	}
}


button {
	-webkit-appearance: none;
	border: none;
	background: blue;
	color: white;
}
	
// END FORM STYLES
// --------------------------------------------------


// --------------------------------------------------
// HERO

#hero {
	box-sizing: border-box;
	padding: 2em 0;
	height: 93vh;
	background: url('/images/hero-bg.jpg') @gold center top no-repeat;
	background-size: cover;
}

// END HERO
// --------------------------------------------------


// --------------------------------------------------
// HEADER

header {
	box-sizing: border-box;
	height: 7vh;
	background: @gold;
	transition: height 300ms, box-shadow 300ms;

	nav {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			.make-row();

			li {
				.make-column(3, 15);
				text-align: center;
				color: @white;
				font: 2em @headline;
				text-transform: uppercase;
				line-height: 7vh;
				transition: line-height 300ms;

				a {
					text-decoration: none;
					color: @white;
				}
			}
		}
	}

	&.stuck {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		box-shadow: 0 -3px 8px 2px lighten(@black, 40%);
		z-index: 99999;
	}
}

// END HEADER
// --------------------------------------------------


// --------------------------------------------------
// DETAILS

#details {

	#leo-carrillo {
		.make-column(6);
	}

	#venue-description {
		.make-column(6);

		p {
			margin-top: 0;
		}
	}
}

// END DETAILS
// --------------------------------------------------

// --------------------------------------------------
// FOOTER

footer {
	padding-bottom: 2em;
}

// END FOOTER
// --------------------------------------------------
